* text=auto
*.sh text eol=lf
*.cmd text eol=crlf
*.tiktoken -text
*.icns -text
*.ico -text
*.png -text
# Preserve upstream license files verbatim, including their whitespace.
native/windows/qt-licenses/** -text -whitespace
